#fire base credentials

apiKey='your Api Key'
authDomain='Your auth domain',
projectId='Your project ID',
storageBucket='Your Storage bucket',
messagingSenderId='Your Messaging sender id',
appId='Your App Id'